.banner{
    padding-top: 6%;
  }

/* member */
.title{
    color: aliceblue;
    font-size: 2.5rem;
    text-align: center;
}

.page-box{
    position: relative;
    width: 70%;
    background-color: white;
    margin: 3% 13% ;
    padding: 20px 10px 2px;
    box-shadow: #808080 3px 5px 5px;
}
.page-title{
    font-size:50pt;
    line-height: 70px;
    text-align: center;
}

.member-infor{
    display: block;
    color: white;
    background-color: rgb(100, 100, 100);
    padding-left: 18%;
    margin-bottom: 5%;
}

.photo{
    position: relative;
    overflow: hidden;
    width:300px;
    height:300px;
    margin: 5px 15px;
    border-radius: 100px;
    background-color: slategray;
    float: left;
    border: solid;
    border-color: silver;
    border-width: 5px; 
    border-radius: 100%;
    box-shadow: gray 2px 2px 3px;
}
.photo img{
    width: 100%;
    object-fit: cover;
    
}

.member-block{
    display: flex;
    flex-direction:column;
    margin-left: 35%;
}
.member-block div{
    font-size: 36px;
}
.right{
    display: flex;
    flex-direction:column;
}

.data{
    margin: 0% 10%;
}

hr{
    margin: 60px 180px;
    border: 1.5px solid rgb(255, 0, 0);
    border-radius: 80px;
}

/* button */
.btn-sty{
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding: 5px 20px;
    margin: 0px 30px;
    background-color: #808080;
    border-radius: 6px;
  }

.btn{
    line-height: 20px;
    margin: 30px 0px;
    text-align: center;
    align-items:center;
}
.btn-re{
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding: 5px 30px;
    margin: 0px 30px;
    background-color: #808080;
    border-radius: 6px;
}

